@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Outfit', sans-serif;
}

.github-profile {
    display: flex;
    align-items: center;
	margin: 1rem;
    border-bottom: solid 1px rgb(75, 75, 75);
    padding-bottom: 1rem;
}

img {
    width: 75px;
    border-radius: 15px;
}

.info {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}

.name {
    font-size: 1.25rem;
  font-weight: bold;
}

.align {
    margin: 3px 0px;
}